<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>PKL FILKOM</title>
</head>
<body>
    <nav>
        <nav class="navbar navbar-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>    

        <h1>PKL FILKOM APPS</h1>
        
        <ul>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Akun Saya
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="/login">Logout</a></li>
                </ul>
            </div>
        </ul>
    </nav>
   
    <nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-4">
                <ul>
                <li><a href="/daftarpkl">Daftar PKL</a></li>
                </ul>
            </div>
        </div>  
    </nav>

    <div class="container mt-4">

        <div class="card" >
            
            <div class="card-header">
                Dashboard Daftar PKL
            </div>
            <div class="card-body">
                <form action="/auth/daftarpkl" method="POST">

                     <div class="mb-3">
                        <label for="name" class="form-label">Nama Lengkap</label>
                        <input type="name" class="form-control" id="name" name="name">
                    </div>

                    <div class="mb-3">
                        <label for="nim" class="form-label">NIM</label>
                        <input type="nim" class="form-control" id="nim" name="nim">
                    </div>

                    <div class="mb-3">
                        <label for="semester" class="form-label">Semester Saat Ini</label>
                        <input type="semester" class="form-control" id="semester" name="semester">
                    </div>

                    <div class="mb-3">
                        <label for="sks" class="form-label">SKS Saat Ini</label>
                        <input type="sks" class="form-control" id="sks" name="sks">
                    </div>

                    <div class="mb-3">
                        <label for="proyek" class="form-label">Proyek atau Perusahaan</label>
                        <input type="proyek" class="form-control" id="proyek" name="proyek">
                    </div>

                    <div class="mb-3">
                        <label for="alamat" class="form-label">Alamat Perusahaan</label>
                        <input type="alamat" class="form-control" id="alamat" name="alamat">
                    </div>

                    <div class="mb-3">
                        <label for="obyek" class="form-label">Obyek PKL</label>
                        <input type="obyek" class="form-control" id="obyek" name="obyek">
                    </div>

                    <div class="mb-3">
                        <label for="waktuawal" class="form-label">Waktu awal PKL</label>
                        <input type="waktuawal" class="form-control" id="waktuawal" name="waktuawal">
                    </div>

                    <div class="mb-3">
                        <label for="waktuakhir" class="form-label">Waktu akhir PKL</label>
                        <input type="waktuakhir" class="form-control" id="waktuakhir" name="waktuakhir">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit Pendaftaran</button>

                </form>
            </div>
        </div>

        {{#if message}}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}    

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>